<a href="https://colab.research.google.com/github/durgesh2010/Python-practice/blob/main/Durgesh_For_loop_practice_collab_of_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 13 Sept

In [ ]:
#1 print list in reverse order using for loop 
list1 = [1,2,3,4,'my_code']
for i in range(1,len(list1)):
  print(list1[-i])

my_code
4
3
2

In [ ]:
#2 For loop -10 to 1 code 
for num in range(-10, -0):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
#3 Python program to display all the prime numbers within an interval

lower = 0
upper = 50

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 0 and 50 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
num = int(input())
factorial = 1

#4 Find the factorial of a number
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

8
The factorial of 8 is 40320

In [ ]:
#5 Reverse the given integer
i_string = input('input : ')
print(f'output : {i_string[::-1]}')

input : 456789
output : 987654

In [ ]:
#6 Use a loop to display elements from a given list present at odd index position 
odd = [0,1,2,3,4,5,6,7,8,9,10]
for i in range(len(odd)):
  if i%2 != 0:
    print(odd[i])

1
3
5
7
9

In [ ]:
#7 calculate the cube of all numbers from  1 to given range 
cubes = int(input())
for i in range(cubes):
  print(f'cube of {i} is {i**3}')

8
cube of 0 is 0
cube of 1 is 1
cube of 2 is 8
cube of 3 is 27
cube of 4 is 64
cube of 5 is 125
cube of 6 is 216
cube of 7 is 343

In [ ]:
#8 Find the sum of the series upto n terms (n = 5)
n = int(input())
sum = 0
for i in range(n):
  sum = sum + i
print(f'total sum is {sum}')

10
total sum is 45

In [ ]:
# Q.9
# *                  # Print this pattern
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *
rows =  10
for i in range(0,rows):
  for j in range(0,i):
    print("* ",end='')
  print("9")

In [ ]:
rows = 10 
for v in range(0,rows):
  for j in range(0,v):
    print("* ",end='')
  print("")      
k = 2 * rows - 2  # It is used for number of spaces  
for i in range(0, rows):  
    for j in range(0, k):  
        print(end="*")  
    k = k - 2   # decrement k value after each iteration  if we fo -1 then it will convert to right angle triangel
    for j in range(0, i + 1):  
        print(" ", end="")  # printing star  
    print("")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
******************
****************
**************
************
**********
********
******
****
**

In [ ]:
# 10 Convert two lists into a dictionary
list1 = ['india','australia','usa']
list2 = ['delhi','canberra','washinton']
dict1 = dict(zip(list1,list2))
print(dict1)

{'india': 'delhi', 'australia': 'canberra', 'usa': 'washinton'}

In [ ]:
#11 Merge two Python dictionaries into one
# Python code to merge dict using update() method
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
dict2.update(dict1)


# changes made in dict2
print(dict2)

{'d': 6, 'c': 4, 'a': 10, 'b': 8}

In [1]:
# 12-Create a dictionary by extracting the keys from a given dictionary
dict2 = {1:'one',2:'two',3:'three',4:'four'}
dict2.keys()

dict_keys([1, 2, 3, 4])

In [ ]:
#13 Remove and add item in a list
list2 = [1,2,3,4,5,6,7,8,9,'mystring',True]
list2.append('durgesh')
list2.remove(9)
list2

[1, 2, 3, 4, 5, 6, 7, 8, 'mystring', True, 'durgesh']

In [2]:
# 14-Unpack the tuple into 4 variables
ntuple = ('apple','samsung','nokia','motorola')
for i in ntuple:
  print(i)

apple
samsung
nokia
motorola

In [4]:
# 15-Swap two tuples in Python
a=int(input("Enter the first number :"))
b=int(input("Enter the second number :"))
print ("a=",a, "b=",b)
(a,b)=(b,a)
print("a=",a, "b=",b)

Enter the first number :20
Enter the second number :30
a= 20 b= 30
a= 30 b= 20

In [6]:
# 16-Copy specific elements from one tuple to a new tuple
ntuple = ('apple','samsung','nokia','motorola')
new_tuple = (ntuple[0])
new_tuple

'apple'

In [ ]:
# 17-Sort a tuple of tuples by 2nd item

In [10]:
# 18-Counts the number of occurrences of item 50 from a tuple

tuple2 = (1,2,2,33,3,4,4,4,5,5,6,7,7,8,9,22,13,)
x = int(input())
count = 0
for i in tuple2:
  if (i == x):
    count = count + 1
print(f'counnt of {x} is {count}')

4
counnt of 4 is 3

In [11]:
# 19-Return a new set of identical items from two sets

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

{40, 50, 30}

In [ ]:
# 20-Get Only unique items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

In [ ]:
# 21-Update the first set with items that don’t exist in the second set
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

In [13]:
# 22-Remove items from the set at once
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

{40, 50}

In [14]:
# 23-Return a set of elements present in Set A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

In [ ]:
# 24-Check if two sets have any elements in common. If yes, display the common elements

In [ ]:
# 25-Update set1 by adding items from set2, except common items

In [ ]:
# 26-Turn every item of a list into its square

In [ ]:
# 27-Iterate both lists simultaneously ( Any list we can make and run those together)

In [ ]:
# 28-Remove empty strings from the list of strings

In [ ]:
# 29 Print the sum of the current number and the previous number

In [ ]:
# 1-Print list in reverse order using a loop
# 2-Display numbers from -10 to -1 using for loop
# 3-Write a program to display all prime numbers within a range ( divisible by 1 and the number itself) 5
# 4-Find the factorial of a given number, n, n-1, n-2, n-3 ( n = 10*9*8*7*6....1)
          # n = 5
          #   output = n * (n-1)
          #           5 * 4 * 3 * 2 * 1
# 5- Reverse a given integer number ( n = 45736382 )
# 6-Use a loop to display elements from a given list present at odd index positions
# 7-Calculate the cube of all numbers from 1 to a given number (n = 10)
# 8-Find the sum of the series upto n terms (n = 5)
# 9-
# *                  # Print this pattern
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *
# 10 - Convert two lists into a dictionary
# 11-Merge two Python dictionaries into one
# 12-Create a dictionary by extracting the keys from a given dictionary
# 13-Remove and add item in a list
# 14-Unpack the tuple into 4 variables
# 15-Swap two tuples in Python
# 16-Copy specific elements from one tuple to a new tuple
# 17-Sort a tuple of tuples by 2nd item
# 18-Counts the number of occurrences of item 50 from a tuple
# 19-Return a new set of identical items from two sets
#  20-Get Only unique items from two sets
# 21-Update the first set with items that don’t exist in the second set
# 22-Remove items from the set at once
# 23-Return a set of elements present in Set A or B, but not both
# 24-Check if two sets have any elements in common. If yes, display the common elements
# 25-Update set1 by adding items from set2, except common items
# 26-Turn every item of a list into its square
# 27-Iterate both lists simultaneously ( Any list we can make and run those together)
# 28-Remove empty strings from the list of strings
# 29 Print the sum of the current number and the previous number

In [ ]:
# 1-Print list in reverse order using a loop
# 2-Display numbers from -10 to -1 using for loop
# 3-Write a program to display all prime numbers within a range ( divisible by 1 and the number itself) 5
# 4-Find the factorial of a given number, n, n-1, n-2, n-3 ( n = 10*9*8*7*6....1)
          # n = 5
          #   output = n * (n-1)
          #           5 * 4 * 3 * 2 * 1
# 5- Reverse a given integer number ( n = 45736382 )
# 6-Use a loop to display elements from a given list present at odd index positions
# 7-Calculate the cube of all numbers from 1 to a given number (n = 10)
# 8-Find the sum of the series upto n terms (n = 5)
# 9-
# *                  # Print this pattern
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *
# 10 - Convert two lists into a dictionary
# 11-Merge two Python dictionaries into one
# 12-Create a dictionary by extracting the keys from a given dictionary
# 13-Remove and add item in a list
# 14-Unpack the tuple into 4 variables
# 15-Swap two tuples in Python
# 16-Copy specific elements from one tuple to a new tuple
# 17-Sort a tuple of tuples by 2nd item
# 18-Counts the number of occurrences of item 50 from a tuple
# 19-Return a new set of identical items from two sets
#  20-Get Only unique items from two sets
# 21-Update the first set with items that don’t exist in the second set
# 22-Remove items from the set at once
# 23-Return a set of elements present in Set A or B, but not both
# 24-Check if two sets have any elements in common. If yes, display the common elements
# 25-Update set1 by adding items from set2, except common items
# 26-Turn every item of a list into its square
# 27-Iterate both lists simultaneously ( Any list we can make and run those together)
# 28-Remove empty strings from the list of strings
# Print the sum of the current number and the previous number