<a href="https://colab.research.google.com/github/durgesh2010/Python-practice/blob/main/Enviornment_Setup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# My Notes

In [ ]:
a = 20 + 4.5

In [ ]:
type(a)

float

In [ ]:
int(a)

24

In [ ]:
10 + True # True has value 1 inside

11

In [ ]:
10 + False # True has value 0 inside

10

In [ ]:
name = input('print your name ')
if name =='Durgesh':
  print(f'good to go {name}')
else:
  print('hey XYZ you are not allowed')

print your name Durgesh
good to go Durgesh

In [ ]:
a = 10 
b = 20 
c = 30
print(f'hey a got  {a} b got {b} and c got {c}')

hey a got  10 b got 20 and c got 30

In [ ]:
name = input('')
marks = input('')
print('{}got {} marks these are good but you can score more keep learning'.format(name,marks))

rakesh
90
rakesh got 90 marks these are good but you can score more keep learning

In [ ]:

nlist =tuple([9,8,7])
a = (1,2,nlist ,'lit')
nlist[0] = 9
a

(1, 2, [9, 8, 7], 'lit')

In [ ]:
nlist1 = list((9,8,7))
nlist1[0] = 6
nlist1

[6, 8, 7]

In [ ]:

nlist = [1,2,3,4,5,6]
print(nlist[::-1])

Q.1 Write a Python program to get the Fibonacci series between 0 to 50



Note : The Fibonacci Sequence is the series of numbers :

0, 1, 1, 2, 3, 5, 8, 13, 21, ....

Every next number is found by adding up the two numbers before it.

Expected Output : 1 1 2 3 5 8 13 21 34

In [ ]:
##### 
prev_no = 0
nex_no = 1
while nex_no < 50:
  print(nex_no)
  prev_no,nex_no = nex_no, nex_no + prev_no ## by taking two two values at the same line fark pdta hai instead of line by line

1
1
2
3
5
8
13
21
34

In [ ]:
#### the result of above code and this one is different
prev_no = 0
nex_no = 1
while nex_no < 50:
  print(nex_no)
  prev_no= nex_no
  nex_no = nex_no + prev_no

In [ ]:
d = {(10,20): "tyu"}

# What is OOP's

Object-oriented programming (OOP) is a computer programming model that organizes software design around data, or objects, rather than functions and logic.

What is self in a class?


self represents the instance of the class. By using the “self” we can access the attributes and methods of the class in python. It binds the attributes with the given arguments. The reason you need to use self. is because Python does not use the @ syntax to refer to instance attributes.

Attributes are data members inside a class or an object that represent the different **features** of the class.

# What is the inheritance in OOPs?
Inheritance in OOP = When a class derives from another class.

Inheritance is a feature or a process in which, new classes are created from the existing classes.

# Lecture Content

In [ ]:
# Python - Programming language 
# 1 - Easy to learn
# 2 - libraries
# 3 - Interpreted Language ( Line by line )
# 4 - General Programming language ( Game, website, AI(Data Science), Script(1000), AP)
# 5 - OOP'S
# 6 - Open Source
print('Uttam')

Uttam

In [ ]:
# Python -- Programming Language (Program) - set of instruction ( 0, 1 )
# mediator from Humar and machine ( computer ) - Java, C, C++, Kotlin, etc
print('hello')

hello

In [ ]:
# Framework ( Pycharm, Jupyter, Jupyter Lab, Spyder, VS code etc, anaconda)
# Long codes
# debug code

In [ ]:
print('Uttam')
print('Preeti')
print('Shubam')

Uttam
Preeti
Shubam

In [ ]:
print('Praveen')

Praveen

In [ ]:
# python
# pip install notebook
# jupyter notebook

In [ ]:
print('Uttam') # Predefined function

Uttam

In [ ]:
print(45.8)

45.8

** Data Types**

In [ ]:
# Comments 
# for loop will print the number from 1 to 20
# for i in range(1, 20, 3):
#   print(i)

In [ ]:
# print, uttam fkjf;lsdjfl;sdjfldskjf;sdjf;djs;lfj

Data Types

In [ ]:
# 1 --> 45 (Numers, Numeric)  --> Integer (int)
# 2 --> 45.6(decimal)         --> Float( float )
# 3 --> abc(characters)       --> string (str)
# 4 --> True, False ( Truth table)   --> boolean ( bool)
# 5 --> a+ib( complex )               --> complex (complex)

In [ ]:
a = 100 # varialbe
b = 50
c = a + b

In [ ]:
print(a)

100

In [ ]:
print(c)

150

In [ ]:
'Uttam' + 'Grade' + "200"

'UttamGrade200'

In [ ]:
m = 200
n = '200'
type(n)

str

In [ ]:
a = 20.5 # Conversion
b = int(a)

In [ ]:
type(b)

int

In [ ]:
a = 100
a = 200
a = 300
a = 1

In [ ]:
print(a)

1

In [ ]:
'Uttam' + str(True)

'UttamTrue'

In [ ]:
print('Uttam')
print('Neha')
print("Sunil")

Uttam
Neha
Sunil

In [ ]:
# Data Structures # container(who contains multiple data or data type)
# List , [], 
# Tuple ()
# set ()
# Dict {}
akshada = ['B.TECH', 'M.TECH', 12, 12.5, True, 'Archana']

In [ ]:
# Indexing
akshada[4]

True

In [ ]:
print(akshada)

['B.TECH', 'M.TECH', 12, 12.5, True, 'Archana']

In [ ]:
print(type(akshada))

<class 'list'>

03-September-2022

In [ ]:
float = 'Archana Mishra'# this is not a ggod practice
print(type(float))

<class 'str'>

In [ ]:
10/2

5.0

In [ ]:
type(10//2)

int

In [1]:
##### String(abcd) Formatting - 1 #####
a = 'Archana'
b = 'Raj'
c = 25
print('Hello {} How are you? How about your studies {}, I know that your age is {}'.format(a, c, b))

Hello Archana How are you? How about your studies 25, I know that your age is Raj

In [ ]:
##### String(abcd) Formatting - 2 #####
a = 'Archana'
b = 'Raj'
c = 25
print(f'Hello {a} How are you? How about your studies {b}, I know that your age is {c}')

Hello Archana How are you? How about your studies Raj, I know that your age is 25

In [ ]:
#### input ########
name = input('Please Enter your Name')

if (name == 'Archana'):
  print(f'Welcome {name}, How much money you want to withdrawal.')
else:
  print('Wrong User, Calling to POLICE')

Please Enter your Namefghj
Wrong User, Calling to POLICE

# Variable assignment lecture

05-September-2022

In [ ]:
x = 1
id(x)

11256064

In [ ]:
# this is object intering x(above) & y have same value
y = 1
id(y)

11256064

In [ ]:
x =2 
id(x)

11256096

In [ ]:
hex(id(x))

'0xabc100'

In [ ]:
s1 = 'uttam'
id(s1)

140219404696624

In [ ]:
print('Uttam')

Uttam

In [ ]:
list(range(1, 20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
l1 = [10,20,30,40,50]
print(l1)

[10, 20, 30, 40, 50]

In [ ]:
l2 = l1.copy()
print(l2)

[10, 20, 30, 40, 50]

In [ ]:
aniket = ['Aniket', 'Preeti', 'Akshada', True, 45, 67.8, False]
print(aniket)

['Aniket', 'Preeti', 'Akshada', True, 45, 67.8, False]

In [ ]:
# if we replace pairwise then it will replace smoothly
aniket[2:5] = ['Uttam', 'Ujjwal', 'Aditya']

In [ ]:
aniket

['Aniket', 'Preeti', 'Uttam', 'Ujjwal', 'Aditya', 67.8, False]

In [ ]:
s = ['Uttam', 10, True, 'Ijaz', 'Sunil', 'Durgesh']

In [ ]:
s[0] = 'vishal'

In [ ]:
s

['vishal', 10, True, 'Ijaz', 'Sunil', 'Durgesh']

In [ ]:
s[0:2] = ['Aniket', 100]

In [ ]:
s

['Aniket', 100, True, 'Ijaz', 'Sunil', 'Durgesh']

In [ ]:
s[0:2] = '700', 800

In [ ]:
#######
sp = ['Uttam', 10, True, 'Ijaz', 'Sunil', 'Durgesh']
sp[0:2] = 'Durgesh'
sp

['D', 'u', 'r', 'g', 'e', 's', 'h', True, 'Ijaz', 'Sunil', 'Durgesh']

In [ ]:
# here the value is int after separation meaning will be change that's it is showing error
sp = ['Uttam', 10, True, 'Ijaz', 'Sunil', 'Durgesh']
s[0:2] = 30
s

In [ ]:
s

['700', 800, True, 'Ijaz', 'Sunil', 'Durgesh']

In [ ]:
s2 = ['uttam', 'rakesh', 'Aniket']
s2

['uttam', 'rakesh', 'Aniket']

In [ ]:
####### now see carefully assigning two names at 0 index
s2[0] = 'rohan', 'Sunil'

In [ ]:
s2

[('rohan', 'Sunil'), 'rakesh', 'Aniket']

Dictionary

In [ ]:
# dict, {}, key: value
d = { 
    'Uttam': ['Akshada', 'ANiket', 'Prajwal'], 
     
     'Maju': ['Indresh', True, 'majulika']
     }

In [ ]:
type(d)

dict

In [ ]:
d.keys()

dict_keys(['Uttam', 'Maju'])

In [ ]:
d.values()

dict_values([['Akshada', 'ANiket', 'Prajwal'], ['Indresh', True, 'majulika']])

In [ ]:
#Exercise 1: Reverse a list in Python
l1 =[1,2,3,4]
l1.reverse()
print(l1)

[4, 3, 2, 1]

In [ ]:
l1=10,20,30,40,50 
l1[::-1]

(50, 40, 30, 20, 10)

In [ ]:
# Exercise 2: Concatenate two lists index-wise
# Exercise 3: Remove empty strings from the list of strings

In [ ]:
dlist = [1,2,3,4,5,'my name',True,False]
print (f' concatinating {dlist[0:5]} and Durgesh i.e {dlist[5:6]}')

 concatinatinating [1, 2, 3, 4, 5] and Durgesh i.e ['my name']

In [ ]:
dstring "my name is jovani georgio but everbody calls me georgio "

In [ ]:
# initializing list
test_list = ["", "GeeksforGeeks", "", "is", "best", ""]
 
# Printing original list
print ("Original list is : " + str(test_list))
 
# using remove() to
# perform removal
while("" in test_list) :
    test_list.remove("")
     
# Printing modified list
print ("Modified list is : " + str(test_list))

Original list is : ['', 'GeeksforGeeks', '', 'is', 'best', '']
Modified list is : ['GeeksforGeeks', 'is', 'best']

In [ ]:

test_list = ["", "thor", "", "ironman", "best", "","sunnypaji"]
nlist = []
for new in test_list:
  if new != "":
    nlist.append(new)
print(nlist)

['thor', 'ironman', 'best', 'sunnypaji']

In [ ]:
test_list.remove("")

In [ ]:
test_list

['thor', '', 'ironman', 'best', '', 'sunnypaji']

In [ ]:
g = (1,2,3,4)
id(g)

140455507445808

In [ ]:
# Exercise 2: Concatenate two lists index-wise
# Exercise 3: Remove empty strings from the list of strings

In [3]:
#remove empty string from the list
l4 = ['ka ','ku','ki',' ','ke', ' ']
l4.remove(' ')
l4

['ka ', 'ku', 'ki', 'ke', ' ']

In [ ]:
########
list1 = ["m","na","i","ke"]
list2 = ["y","me","s","lly"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['my', 'name', 'is', 'kelly']

In [ ]:
#######
l1 = ["Shubham","rohit",True, 12,False]
l2 =["Radha","Deepak",6,45, "Uttam"]
l3 = l1 + l2
print(l3)

['Shubham', 'rohit', True, 12, False, 'Radha', 'Deepak', 6, 45, 'Uttam']

In [ ]:
#concatination of two list index wise
l1 = [10,20,30,40]
l2 = [50,60,70]
l3 = l1 + l2
print(l3)
# [60, 80, 100]

[10, 20, 30, 40, 50, 60, 70]

In [4]:
#######
list1 =["indresh","rohit","amit","sumit"]
list2 =["soni","singh","raikwar","kumar"]
for i in range(len(list1)):
  list3=list1[i]+" "+list2[i]
  print(list3)

indresh soni
rohit singh
amit raikwar
sumit kumar

In [ ]:
# dictionary 
d = {'Tiffany': ['yes', 'No'], 
     'Shubham': 'B.Tech'}

In [ ]:
# List, Dictionary, tuple

In [5]:
a = (1,2,3,4)
a

(1, 2, 3, 4)

In [ ]:
a[0] = 100

In [7]:
a

(1, 2, 3, 4)

In [ ]:
# Exercise 7: Add new item to list after a specified item
# Extend nested list by adding the sublist

In [14]:
a = [1,2,3,4]
a.append(5)

In [15]:
mylist=[1,2]
mylist.append(7)

In [16]:
#######
a.insert(5, 'durgesh') # insert taking two arguments 'index' and 'value' here index is 5 and value is durgesh

In [17]:
a

[1, 2, 3, 4, 5, 'durgesh']

In [18]:
# Arthmatic Operators ( +, -, *, /, %, **, //)
5 // 2

2

In [19]:
# assignment Operators ( =, +=, -=, *=, %=, //=, **=, &=, ^=, >>=, <<=)

In [20]:
x = 5
x = x + 5

In [21]:
x += 50

In [ ]:
x

60

In [ ]:
# Write a Python program to find unique triplets whose three elements gives the sum of zero from an array of n integers.

In [ ]:
# Comparision operator ( ==, !=, > , <, >=, <=)

In [ ]:
10<5

False

In [ ]:
# Logical Operators
# and (&), or (|), not (!, ~)

In [ ]:
# Membership opertaors (identity)
# in, not in

4 in [1,2,3]

False

In [ ]:
# Bitwise operators
# &, |, ^, ~ , <<, >>

In [ ]:
(1 + 5) *3

18

In [ ]:
x =(a+b)*c/d  
print("value : ",x)

In [ ]:
t = tuple('Prajwal') # immutable( add, update, remove)

In [ ]:
t

('P', 'r', 'a', 'j', 'w', 'a', 'l')

In [ ]:
t.remove('j')

AttributeError: ignored

In [ ]:
# conditions statement
# if something:
#   do something
# else:
#   do something

In [22]:
x = 3
if x == 2:
  print('Uttam')
else:
  print('Akshada')

Akshada

07-09-2022

In [24]:
# dictionary 
# dict, {}
dic = {'vivek': ['Prajwal', 23, True], 
       'Pretti': 'Parshuram'}

In [25]:
dic.keys()

dict_keys(['vivek', 'Pretti'])

In [26]:
dic.values()

dict_values([['Prajwal', 23, True], 'Parshuram'])

In [27]:
dic.items()

dict_items([('vivek', ['Prajwal', 23, True]), ('Pretti', 'Parshuram')])

In [28]:
dic[1] # index in dict not follwed

KeyError: ignored

In [ ]:
# List, Tuple, dictionary, sets

In [ ]:
# set {}
s = {'Uttam', 'SHubham', 'Ijaz', 'uttam','zr'}
type(s)
print(s)

{'Uttam', 'Ijaz', 'uttam', 'zr', 'SHubham'}

In [ ]:
# list, []
# tuple,()
# set, {}

In [ ]:
# Conditional Statement
# Indresh < 35 (pass) (fail)
indresh = int(input('Enter Your Marks -->'))
if indresh < 35:
  print('Fail')
else:
  print("Pass")

Enter Your Marks -->80
Pass

In [ ]:
indresh = input('Enter Your Marks -->')

if int(indresh) < 35:
  print('Fail')
elif 35 <= int(indresh) < 50:
  print('Average')
else:
  print("Pass")

Enter Your Marks -->56
Pass

In [ ]:
# write a program to check wheather a number is divisible by 7 or not?
n = int(input("Enter the number"))

if n%7 == 0:
  print('Yes')
else:
  print('No')

Enter the number67
No

In [ ]:
14%7

0

In [ ]:
l = ['Uttam', 'Raj', 'Aniket', 'Aadi']

In [ ]:
for x in l:
  
  print(x)

Uttam
Raj
Aniket
Aadi

In [ ]:
n = int(input("Enter the number"))
if n%7 ==0:
  print('yes')
else:
  print('no')

Enter the number15
no

In [ ]:
p1=(0,1,2,3,4,5,6,7,8,9,10)
for i in p1:
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
len(A)

10

In [ ]:
d = {'AKshada': ['B.Tech', 'M.TEch', 'M.Sc'], 
     'Delhi': 'Banglore'}

In [ ]:
####### caling dict
for y in d.items():
  print(y)

('AKshada', ['B.Tech', 'M.TEch', 'M.Sc'])
('Delhi', 'Banglore')

In [ ]:
# Print First 10 natural numbers using for loop
# Calculate the sum of all numbers from 1 to a 10
# Write a program to print multiplication table of a 5
# Count the total number of digits in a number (1234567) ['123', '09345879', '345098734507395']
# Print the pattern of U only

In [30]:
dlist = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
x = 0
for i in dlist:
  x += i
  print(x)

1
3
6
10
15
21
28
36
45
55

In [31]:
# Write a program to print multiplication table of a 5
x = 0
for i in dlist:
  x = i*5
  print(x)

5
10
15
20
25
30
35
40
45
50

In [ ]:
x = 0
for i in dlist:
  x = i*5
  print(x)

5
10
15
20
25
30
35
40
45
50

In [ ]:
# Count the total number of digits in a number (1234567) ['123', '09345879', '345098734507395']
d1list = ['123', '09345879', '345098734507395']
y = []
for i in d1list:
  y = len(i)
  print(y)

3
8
15

In [ ]:
# Print the pattern of U only

In [42]:
str="";    
for Row in range(0,7):    
    for Col in range(0,7):     
        if (Col == 1 or ((Row == 0 or Row == 6) and (Col > 1 and Col < 5)) or (Col == 5 and Row != 0 and Row != 6)):  
            str=str+"*"    
        else:      
            str=str+" "    
    str=str+"\n"    
print(str);

 ****
 *   *
 *   *
 *   *
 *   *
 *   *
 ****

In [ ]:
# This is the example of print simple pyramid pattern  
n = int(input("Enter the number of rows"))  
# outer loop to handle number of rows  
for i in range(0, n):  
    # inner loop to handle number of columns  
    # values is changing according to outer loop  
        for j in range(0, i + 1):  
            # printing stars  
            print("* ", end="")       
  
        # ending line after each row  
        print()

Enter the number of rows5
*
* *
* * *
* * * *
* * * * *

In [ ]:
n = int(input("Enter the number of rows"))  
for i in range(0, n):  
  t = i/2 
  for j in

In [ ]:

for i in range(1,10):
  print("*         *")
for j in range(1,7):
  print("*",end=" ")

*         *
*         *
*         *
*         *
*         *
*         *
*         *
*         *
*         *
* * * * * *

In [ ]:
#print pattern of * in w
for i in range(1,6):
    print('*     *     *')
for j in range(1,6):
    print('*',end='  ')

In [ ]:
# This is the example of print simple reversed right angle pyramid pattern  
#rows = int(input("Enter the number of rows:")) 
rows = 10 
k = 2 * rows - 2  # It is used for number of spaces  
for i in range(0, rows):  
    for j in range(0, k):  
        print(end=" ")  
    k = k - 2   # decrement k value after each iteration  
    for j in range(0, i + 1):  
        print("* ", end="")  # printing star  
    print("9")

                  * 9
                * * 9
              * * * 9
            * * * * 9
          * * * * * 9
        * * * * * * 9
      * * * * * * * 9
    * * * * * * * * 9
  * * * * * * * * * 9
* * * * * * * * * * 9

In [ ]:
# This is the example of Printing Triangle Pyramid 
#rows = int(input("Enter the number of rows:")) 
rows = 10 
k = 2 * rows - 2  # It is used for number of spaces  
for i in range(0, rows):  
    for j in range(0, k):  
        print(end=" ")  
    k = k - 1   # decrement k value after each iteration  if we fo -1 then it will convert to right angle triangel
    for j in range(0, i + 1):  
        print("* ", end="")  # printing star  
    print("")

                  *
                 * *
                * * *
               * * * *
              * * * * *
             * * * * * *
            * * * * * * *
           * * * * * * * *
          * * * * * * * * *
         * * * * * * * * * *

In [ ]:
# This is the example of Printing Triangle Pyramid 
#rows = int(input("Enter the number of rows:")) 
rows = 10 
k = 2 * rows - 2  # It is used for number of spaces  
for i in range(0, rows):  
    for j in range(0, k):  
        print(end="*")  
    k = k - 2   # decrement k value after each iteration  if we fo -1 then it will convert to right angle triangel
    for j in range(0, i + 1):  
        print(" ", end="")  # printing star  
    print("")

******************
****************
**************
************
**********
********
******
****
**

In [ ]:
rows =  10
for i in range(0,rows):
  for j in range(0,i):
    print("* ",end='')
  print("9")

9
* 9
* * 9
* * * 9
* * * * 9
* * * * * 9
* * * * * * 9
* * * * * * * 9
* * * * * * * * 9
* * * * * * * * * 9

In [ ]:
marks = int(input('enter your marks '))
if marks == 90:
  print('FAJ')
if marks >75:
  print('pdaku')
if marks >=50:
  print('avg') 
#else :
 # print('pdai likhai karo ias wais bano ')

enter your marks 90
FAJ
pdaku
avg

# 7 september

In [ ]:
dinput = input( )
if int(dinput)%7 == 0:
  print( 'divisible')
else:
  print('not divisible' )

7
divisible

In [ ]:
d1=(0,1,2,3,4,5,6,7,8,9,10)
for i in d1:
  print(i)

0
1
2
3
4
5
6
7
8
9
10

# 10 September