<a href="https://colab.research.google.com/github/durgesh2010/Python-practice/blob/main/Enviornment_Setup_to_till_end.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# My Notes

In [ ]:
a = 20 + 4.5

In [ ]:
type(a)

float

In [ ]:
int(a)

24

In [ ]:
10 + True # True has value 1 inside

11

In [ ]:
10 + False # True has value 0 inside

10

In [ ]:
name = input('print your name ')
if name =='Durgesh':
  print(f'good to go {name}')
else:
  print('hey XYZ you are not allowed')

print your name Durgesh
good to go Durgesh

In [ ]:
a = 10 
b = 20 
c = 30
print(f'hey a got  {a} b got {b} and c got {c}')

hey a got  10 b got 20 and c got 30

In [ ]:
name = input('')
marks = input('')
print('{}got {} marks these are good but you can score more keep learning'.format(name,marks))

rakesh
90
rakesh got 90 marks these are good but you can score more keep learning

In [ ]:

nlist =tuple([9,8,7])
a = (1,2,nlist ,'lit')
nlist[0] = 9
a

(1, 2, [9, 8, 7], 'lit')

In [ ]:
nlist1 = list((9,8,7))
nlist1[0] = 6
nlist1

[6, 8, 7]

In [ ]:

nlist = [1,2,3,4,5,6]
print(nlist[::-1])

Q.1 Write a Python program to get the Fibonacci series between 0 to 50



Note : The Fibonacci Sequence is the series of numbers :

0, 1, 1, 2, 3, 5, 8, 13, 21, ....

Every next number is found by adding up the two numbers before it.

Expected Output : 1 1 2 3 5 8 13 21 34

In [ ]:
##### 
prev_no = 0
nex_no = 1
while nex_no < 50:
  print(nex_no)
  prev_no,nex_no = nex_no, nex_no + prev_no ## by taking two two values at the same line fark pdta hai instead of line by line

1
1
2
3
5
8
13
21
34

In [ ]:
#### the result of above code and this one is different
prev_no = 0
nex_no = 1
while nex_no < 50:
  print(nex_no)
  prev_no= nex_no
  nex_no = nex_no + prev_no

In [ ]:
d = {(10,20): "tyu"}

# What is OOP's

Object-oriented programming (OOP) is a computer programming model that organizes software design around data, or objects, rather than functions and logic.

What is self in a class?


self represents the instance of the class. By using the “self” we can access the attributes and methods of the class in python. It binds the attributes with the given arguments. The reason you need to use self. is because Python does not use the @ syntax to refer to instance attributes.

Attributes are data members inside a class or an object that represent the different **features** of the class.

# What is the inheritance in OOPs?
Inheritance in OOP = When a class derives from another class.

Inheritance is a feature or a process in which, new classes are created from the existing classes.

# Lecture Content

In [ ]:
# Python - Programming language 
# 1 - Easy to learn
# 2 - libraries
# 3 - Interpreted Language ( Line by line )
# 4 - General Programming language ( Game, website, AI(Data Science), Script(1000), AP)
# 5 - OOP'S
# 6 - Open Source
print('Uttam')

Uttam

In [ ]:
# Python -- Programming Language (Program) - set of instruction ( 0, 1 )
# mediator from Humar and machine ( computer ) - Java, C, C++, Kotlin, etc
print('hello')

hello

In [ ]:
# Framework ( Pycharm, Jupyter, Jupyter Lab, Spyder, VS code etc, anaconda)
# Long codes
# debug code

In [ ]:
print('Uttam')
print('Preeti')
print('Shubam')

Uttam
Preeti
Shubam

In [ ]:
print('Praveen')

Praveen

In [ ]:
# python
# pip install notebook
# jupyter notebook

In [ ]:
print('Uttam') # Predefined function

Uttam

In [ ]:
print(45.8)

45.8

** Data Types**

In [ ]:
# Comments 
# for loop will print the number from 1 to 20
# for i in range(1, 20, 3):
#   print(i)

In [ ]:
# print, uttam fkjf;lsdjfl;sdjfldskjf;sdjf;djs;lfj

Data Types

In [ ]:
# 1 --> 45 (Numers, Numeric)  --> Integer (int)
# 2 --> 45.6(decimal)         --> Float( float )
# 3 --> abc(characters)       --> string (str)
# 4 --> True, False ( Truth table)   --> boolean ( bool)
# 5 --> a+ib( complex )               --> complex (complex)

In [ ]:
a = 100 # varialbe
b = 50
c = a + b

In [ ]:
print(a)

100

In [ ]:
print(c)

150

In [ ]:
'Uttam' + 'Grade' + "200"

'UttamGrade200'

In [ ]:
m = 200
n = '200'
type(n)

str

In [ ]:
a = 20.5 # Conversion
b = int(a)

In [ ]:
type(b)

int

In [ ]:
a = 100
a = 200
a = 300
a = 1

In [ ]:
print(a)

1

In [ ]:
'Uttam' + str(True)

'UttamTrue'

In [ ]:
print('Uttam')
print('Neha')
print("Sunil")

Uttam
Neha
Sunil

In [ ]:
# Data Structures # container(who contains multiple data or data type)
# List , [], 
# Tuple ()
# set ()
# Dict {}
akshada = ['B.TECH', 'M.TECH', 12, 12.5, True, 'Archana']

In [ ]:
# Indexing
akshada[4]

True

In [ ]:
print(akshada)

['B.TECH', 'M.TECH', 12, 12.5, True, 'Archana']

In [ ]:
print(type(akshada))

<class 'list'>

03-September-2022

In [ ]:
float = 'Archana Mishra'# this is not a ggod practice
print(type(float))

<class 'str'>

In [ ]:
10/2

5.0

In [ ]:
type(10//2)

int

In [ ]:
##### String(abcd) Formatting - 1 #####
a = 'Archana'
b = 'Raj'
c = 25
print('Hello {} How are you? How about your studies {}, I know that your age is {}'.format(a, c, b))

Hello Archana How are you? How about your studies 25, I know that your age is Raj

In [ ]:
##### String(abcd) Formatting - 2 #####
a = 'Archana'
b = 'Raj'
c = 25
print(f'Hello {a} How are you? How about your studies {b}, I know that your age is {c}')

Hello Archana How are you? How about your studies Raj, I know that your age is 25

In [ ]:
#### input ########
name = input('Please Enter your Name')

if (name == 'Archana'):
  print(f'Welcome {name}, How much money you want to withdrawal.')
else:
  print('Wrong User, Calling to POLICE')

Please Enter your Namefghj
Wrong User, Calling to POLICE

# Variable assignment lecture

05-September-2022

In [ ]:
x = 1
id(x)

11256064

In [ ]:
# this is object intering x(above) & y have same value
y = 1
id(y)

11256064

In [ ]:
x =2 
id(x)

11256096

In [ ]:
hex(id(x))

'0xabc100'

In [ ]:
s1 = 'uttam'
id(s1)

140219404696624

In [ ]:
print('Uttam')

Uttam

In [ ]:
list(range(1, 20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
l1 = [10,20,30,40,50]
print(l1)

[10, 20, 30, 40, 50]

In [ ]:
l2 = l1.copy()
print(l2)

[10, 20, 30, 40, 50]

In [ ]:
aniket = ['Aniket', 'Preeti', 'Akshada', True, 45, 67.8, False]
print(aniket)

['Aniket', 'Preeti', 'Akshada', True, 45, 67.8, False]

In [ ]:
# if we replace pairwise then it will replace smoothly
aniket[2:5] = ['Uttam', 'Ujjwal', 'Aditya']

In [ ]:
aniket

['Aniket', 'Preeti', 'Uttam', 'Ujjwal', 'Aditya', 67.8, False]

In [ ]:
s = ['Uttam', 10, True, 'Ijaz', 'Sunil', 'Durgesh']

In [ ]:
s[0] = 'vishal'

In [ ]:
s

['vishal', 10, True, 'Ijaz', 'Sunil', 'Durgesh']

In [ ]:
s[0:2] = ['Aniket', 100]

In [ ]:
s

['Aniket', 100, True, 'Ijaz', 'Sunil', 'Durgesh']

In [ ]:
s[0:2] = '700', 800

In [ ]:
#######
sp = ['Uttam', 10, True, 'Ijaz', 'Sunil', 'Durgesh']
sp[0:2] = 'Durgesh'
sp

['D', 'u', 'r', 'g', 'e', 's', 'h', True, 'Ijaz', 'Sunil', 'Durgesh']

In [ ]:
# here the value is int after separation meaning will be change that's it is showing error
sp = ['Uttam', 10, True, 'Ijaz', 'Sunil', 'Durgesh']
s[0:2] = 30
s

In [ ]:
s

['700', 800, True, 'Ijaz', 'Sunil', 'Durgesh']

In [ ]:
s2 = ['uttam', 'rakesh', 'Aniket']
s2

['uttam', 'rakesh', 'Aniket']

In [ ]:
####### now see carefully assigning two names at 0 index
s2[0] = 'rohan', 'Sunil'

In [ ]:
s2

[('rohan', 'Sunil'), 'rakesh', 'Aniket']

Dictionary

In [ ]:
# dict, {}, key: value
d = { 
    'Uttam': ['Akshada', 'ANiket', 'Prajwal'], 
     
     'Maju': ['Indresh', True, 'majulika']
     }

In [ ]:
type(d)

dict

In [ ]:
d.keys()

dict_keys(['Uttam', 'Maju'])

In [ ]:
d.values()

dict_values([['Akshada', 'ANiket', 'Prajwal'], ['Indresh', True, 'majulika']])

In [ ]:
#Exercise 1: Reverse a list in Python
l1 =[1,2,3,4]
l1.reverse()
print(l1)

[4, 3, 2, 1]

In [ ]:
l1=10,20,30,40,50 
l1[::-1]

(50, 40, 30, 20, 10)

In [ ]:
# Exercise 2: Concatenate two lists index-wise
# Exercise 3: Remove empty strings from the list of strings

In [ ]:
dlist = [1,2,3,4,5,'my name',True,False]
print (f' concatinating {dlist[0:5]} and Durgesh i.e {dlist[5:6]}')

 concatinatinating [1, 2, 3, 4, 5] and Durgesh i.e ['my name']

In [ ]:
dstring = "my name is jovani georgio but everbody calls me georgio "

In [ ]:
# initializing list
test_list = ["", "GeeksforGeeks", "", "is", "best", ""]
 
# Printing original list
print ("Original list is : " + str(test_list))
 
# using remove() to
# perform removal
while("" in test_list) :
    test_list.remove("")
     
# Printing modified list
print ("Modified list is : " + str(test_list))

Original list is : ['', 'GeeksforGeeks', '', 'is', 'best', '']
Modified list is : ['GeeksforGeeks', 'is', 'best']

In [ ]:

test_list = ["", "thor", "", "ironman", "best", "","sunnypaji"]
nlist = []
for new in test_list:
  if new != "":
    nlist.append(new)
print(nlist)

['thor', 'ironman', 'best', 'sunnypaji']

In [ ]:
test_list.remove("")

In [ ]:
test_list

['thor', '', 'ironman', 'best', '', 'sunnypaji']

In [ ]:
g = (1,2,3,4)
id(g)

140455507445808

In [ ]:
# Exercise 2: Concatenate two lists index-wise
# Exercise 3: Remove empty strings from the list of strings

In [ ]:
#remove empty string from the list
l4 = ['ka ','ku','ki',' ','ke', ' ']
l4.remove(' ')
l4

['ka ', 'ku', 'ki', 'ke', ' ']

In [ ]:
########
list1 = ["m","na","i","ke"]
list2 = ["y","me","s","lly"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['my', 'name', 'is', 'kelly']

In [ ]:
#######
l1 = ["Shubham","rohit",True, 12,False]
l2 =["Radha","Deepak",6,45, "Uttam"]
l3 = l1 + l2
print(l3)

['Shubham', 'rohit', True, 12, False, 'Radha', 'Deepak', 6, 45, 'Uttam']

In [ ]:
#concatination of two list index wise
l1 = [10,20,30,40]
l2 = [50,60,70]
l3 = l1 + l2
print(l3)
# [60, 80, 100]

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
#######
list1 =["indresh","rohit","amit","sumit"]
list2 =["soni","singh","raikwar","kumar"]
for i in range(len(list1)):
  list3=list1[i]+" "+list2[i]
  print(list3)

indresh soni
rohit singh
amit raikwar
sumit kumar

In [ ]:
# dictionary 
d = {'Tiffany': ['yes', 'No'], 
     'Shubham': 'B.Tech'}

In [ ]:
# List, Dictionary, tuple

In [ ]:
a = (1,2,3,4)
a

(1, 2, 3, 4)

In [ ]:
a[0] = 100

In [ ]:
a

(1, 2, 3, 4)

In [ ]:
# Exercise 7: Add new item to list after a specified item
# Extend nested list by adding the sublist

In [ ]:
a = [1,2,3,4]
a.append(5)

In [ ]:
mylist=[1,2]
mylist.append(7)

In [ ]:
#######
a.insert(5, 'durgesh') # insert taking two arguments 'index' and 'value' here index is 5 and value is durgesh

In [ ]:
a

[1, 2, 3, 4, 5, 'durgesh']

In [ ]:
# Arthmatic Operators ( +, -, *, /, %, **, //)
5 // 2

2

In [ ]:
# assignment Operators ( =, +=, -=, *=, %=, //=, **=, &=, ^=, >>=, <<=)

In [ ]:
x = 5
x = x + 5

In [ ]:
x += 50

In [ ]:
x

60

In [ ]:
# Write a Python program to find unique triplets whose three elements gives the sum of zero from an array of n integers.

In [ ]:
# Comparision operator ( ==, !=, > , <, >=, <=)

In [ ]:
10<5

False

In [ ]:
# Logical Operators
# and (&), or (|), not (!, ~)

In [ ]:
# Membership opertaors (identity)
# in, not in

4 in [1,2,3]

False

In [ ]:
# Bitwise operators
# &, |, ^, ~ , <<, >>

In [ ]:
(1 + 5) *3

18

In [ ]:
x =(a+b)*c/d  
print("value : ",x)

In [ ]:
t = tuple('Prajwal') # immutable( add, update, remove)

In [ ]:
t

('P', 'r', 'a', 'j', 'w', 'a', 'l')

In [ ]:
t.remove('j')

AttributeError: ignored

In [ ]:
# conditions statement
# if something:
#   do something
# else:
#   do something

In [ ]:
x = 3
if x == 2:
  print('Uttam')
else:
  print('Akshada')

Akshada

07-09-2022

In [ ]:
# dictionary 
# dict, {}
dic = {'vivek': ['Prajwal', 23, True], 
       'Pretti': 'Parshuram'}

In [ ]:
dic.keys()

dict_keys(['vivek', 'Pretti'])

In [ ]:
dic.values()

dict_values([['Prajwal', 23, True], 'Parshuram'])

In [ ]:
dic.items()

dict_items([('vivek', ['Prajwal', 23, True]), ('Pretti', 'Parshuram')])

In [ ]:
dic[1] # index in dict not follwed

KeyError: ignored

In [ ]:
# List, Tuple, dictionary, sets

In [ ]:
# set {}
s = {'Uttam', 'SHubham', 'Ijaz', 'uttam','zr'}
type(s)
print(s)

{'Uttam', 'Ijaz', 'uttam', 'zr', 'SHubham'}

In [ ]:
# list, []
# tuple,()
# set, {}

In [ ]:
# Conditional Statement
# Indresh < 35 (pass) (fail)
indresh = int(input('Enter Your Marks -->'))
if indresh < 35:
  print('Fail')
else:
  print("Pass")

Enter Your Marks -->80
Pass

In [ ]:
indresh = input('Enter Your Marks -->')

if int(indresh) < 35:
  print('Fail')
elif 35 <= int(indresh) < 50:
  print('Average')
else:
  print("Pass")

Enter Your Marks -->56
Pass

In [ ]:
# write a program to check wheather a number is divisible by 7 or not?
n = int(input("Enter the number"))

if n%7 == 0:
  print('Yes')
else:
  print('No')

Enter the number67
No

In [ ]:
14%7

0

In [ ]:
l = ['Uttam', 'Raj', 'Aniket', 'Aadi']

In [ ]:
for x in l:
  
  print(x)

Uttam
Raj
Aniket
Aadi

In [ ]:
n = int(input("Enter the number"))
if n%7 ==0:
  print('yes')
else:
  print('no')

Enter the number15
no

In [ ]:
p1=(0,1,2,3,4,5,6,7,8,9,10)
for i in p1:
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
len(A)

10

In [ ]:
d = {'AKshada': ['B.Tech', 'M.TEch', 'M.Sc'], 
     'Delhi': 'Banglore'}

In [ ]:
####### caling dict
for y in d.items():
  print(y)

('AKshada', ['B.Tech', 'M.TEch', 'M.Sc'])
('Delhi', 'Banglore')

In [ ]:
# Print First 10 natural numbers using for loop
# Calculate the sum of all numbers from 1 to a 10
# Write a program to print multiplication table of a 5
# Count the total number of digits in a number (1234567) ['123', '09345879', '345098734507395']
# Print the pattern of U only

In [ ]:
dlist = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
x = 0
for i in dlist:
  x += i
  print(x)

1
3
6
10
15
21
28
36
45
55

In [ ]:
# Write a program to print multiplication table of a 5
x = 0
for i in dlist:
  x = i*5
  print(x)

5
10
15
20
25
30
35
40
45
50

In [ ]:
x = 0
for i in dlist:
  x = i*5
  print(x)

5
10
15
20
25
30
35
40
45
50

In [ ]:
# Count the total number of digits in a number (1234567) ['123', '09345879', '345098734507395']
d1list = ['123', '09345879', '345098734507395']
y = []
for i in d1list:
  y = len(i)
  print(y)

3
8
15

In [ ]:
# Print the pattern of U only

In [ ]:
n = int(input("Enter the number of rows"))  
for i in range(0, n):  
  t = i/2 
  for j in

# 7 september

In [ ]:
dinput = input( )
if int(dinput)%7 == 0:
  print( 'divisible')
else:
  print('not divisible' )

7
divisible

In [ ]:
d1=(0,1,2,3,4,5,6,7,8,9,10)
for i in d1:
  print(i)

0
1
2
3
4
5
6
7
8
9
10

# 10 September

In [ ]:
dlist = [2,5,4,6,3,6,7]
newlist = 0
for i in dlist:
  newlist += i
  print(newlist)

2
7
11
17
20
26
33

In [ ]:
total = 0
list1 = [12, 5, 17, 15, 23]
for ele in range(0, len(list1)):
    total = total + list1[ele]
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  72

In [ ]:
#program to find sum of all the number from list
n = [1,3,5,6,7]
len(n)
sum = 0
for i in range(1,len(n)) :

  sum = sum + n[i]

  print(sum )

3
8
14
21

In [ ]:
g = ['uttam','indresh','neha','durgesh']

for i in range(0,len(g)):
  print(g[i])

uttam
indresh
neha
durgesh

In [ ]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# Quiz discussing
# Assignment discussion
# Pattern discussion
# Learn New concept

In [ ]:
# data structures ( contains)
# list []
# dict {}, key, values
# tuple ()
# set {}

In [ ]:
a = (1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [ ]:
a[0] = 10

TypeError: ignored

In [ ]:
d = {'Archana': [1,2,3,4],
     'Archana': 'Akshada'}

In [ ]:
#######
###### we can not take list as key bcz it is mutuable we can take string,tuple, int,float and we can can not take set as key 
###### so in conclusion we can not take list and set as key but for values wae can take everything 
d = {'Archana': [1,2,3,4],
     [10]: 'Akshada'}

{'Archana': {1, 2, 3, 4}, 10: 'Akshada'}

In [ ]:
####### we can tuple as key 
d = {'uttam': [1,2,3,4],
     (10): 'Akshada'} # (10) is a tuple and as key

In [ ]:
a = (1,2,3, [10,20,30])

In [ ]:
####### see list in tuple can be edited
a[3].append(40) #

In [ ]:
####### understand with other example 

low = [1, 2, 3]
high = [4, 5]

rankings = (low, high)# ranking is tuple which contains two lists

In [ ]:
high.append(6)
print(rankings) # it will be ([1, 2, 3], [4, 5, 6])

In [ ]:
a = [1,2,3]

In [ ]:
d[0] # as we indexing is not for set and dict

KeyError: ignored

In [ ]:
b = 10
id(b)

11256352

In [ ]:
c = 100
id(c)

11259232

In [ ]:
d = (1,2)
id(d)

140476438001696

# Pattern Practice by me only

In [ ]:
str="";    
for Row in range(0,7):    
    for Col in range(0,7):     
        if (Col == 1 or ((Row == 0 or Row == 6) and (Col > 1 and Col < 5)) or (Col == 5 and Row != 0 and Row != 6)):  
            str=str+"*"    
        else:      
            str=str+" "    
    str=str+"\n"    
print(str);

 ****
 *   *
 *   *
 *   *
 *   *
 *   *
 ****

In [ ]:
# This is the example of print simple pyramid pattern  
n = int(input("Enter the number of rows"))  
# outer loop to handle number of rows  
for i in range(0, n):  
    # inner loop to handle number of columns  
    # values is changing according to outer loop  
        for j in range(0, i + 1):  
            # printing stars  
            print("* ", end="")       
  
        # ending line after each row  
        print()

Enter the number of rows5
*
* *
* * *
* * * *
* * * * *

In [ ]:

for i in range(1,10):
  print("*         *")
for j in range(1,7):
  print("*",end=" ")

*         *
*         *
*         *
*         *
*         *
*         *
*         *
*         *
*         *
* * * * * *

In [ ]:
#print pattern of * in w
for i in range(1,6):
    print('*     *     *')
for j in range(1,6):
    print('*',end='  ')

In [ ]:
# This is the example of print simple reversed right angle pyramid pattern  
#rows = int(input("Enter the number of rows:")) 
rows = 10 
k = 2 * rows - 2  # It is used for number of spaces  
for i in range(0, rows):  
    for j in range(0, k):  
        print(end=" ")  
    k = k - 2   # decrement k value after each iteration  
    for j in range(0, i + 1):  
        print("* ", end="")  # printing star  
    print("9")

                  * 9
                * * 9
              * * * 9
            * * * * 9
          * * * * * 9
        * * * * * * 9
      * * * * * * * 9
    * * * * * * * * 9
  * * * * * * * * * 9
* * * * * * * * * * 9

In [ ]:
# This is the example of Printing Triangle Pyramid 
#rows = int(input("Enter the number of rows:")) 
rows = 10 
k = 2 * rows - 2  # It is used for number of spaces  
for i in range(0, rows):  
    for j in range(0, k):  
        print(end=" ")  
    k = k - 1   # decrement k value after each iteration  if we fo -1 then it will convert to right angle triangel
    for j in range(0, i + 1):  
        print("* ", end="")  # printing star  
    print("")

                  *
                 * *
                * * *
               * * * *
              * * * * *
             * * * * * *
            * * * * * * *
           * * * * * * * *
          * * * * * * * * *
         * * * * * * * * * *

In [ ]:
####### amulya logic "middle triangle pyramid"
n = int(input('enter the no. of rows'))
for i in range(0,n):
  for j in range(0,n-i-1):
    print(" ",end = "")
  for k in range(0,i+1):
    print("*",end = " ") 
  print()

enter the no. of rows5
    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
####### amulya logic "middle triangle pyramid" with odd no of * rows
n = int(input('enter the no. of rows'))
for i in range(0,n):
  for j in range(0,n-i-1):
    print(" ",end = "")
  for k in range(0,2*i+1): #just ,multiplying by 2 in in range upper limit 
    print("*",end = "")   #removing the space in end 
  print()

enter the no. of rows5
    *
   ***
  *****
 *******
*********

In [ ]:
######
###### function code of pyramid mid triangle, same output as above but in different way  
#def midpyramid(rows):
rows = 5
for i in range(rows):
  print(" "*(rows-i-1)+"* "*(i+1))

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
####### amulya logic "middle down triangle pyramid" with odd no of * rows
n = 6
for i in range(0,n):
  for j in range(0,i):
    print(" ",end = "")
  for k in range(0,n-i):
      print("* ",end = "")   #removing the space in end 
  print()

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
# This is the example of Printing Triangle Pyramid 
#rows = int(input("Enter the number of rows:")) 
rows = 10 
k = 2 * rows - 2  # It is used for number of spaces  
for i in range(0, rows):  
    for j in range(0, k):  
        print(end="*")  
    k = k - 2   # decrement k value after each iteration  if we fo -1 then it will convert to right angle triangel
    for j in range(0, i + 1):  
        print(" ", end="")  # printing star  
    print("")

******************
****************
**************
************
**********
********
******
****
**

In [ ]:
rows =  10
for i in range(0,rows):
  for j in range(0,i):
    print("* ",end='')
  print("9")

9
* 9
* * 9
* * * 9
* * * * 9
* * * * * 9
* * * * * * 9
* * * * * * * 9
* * * * * * * * 9
* * * * * * * * * 9

In [ ]:
######## ########
######## the difference between if and if else is 'if else loop wherever find true condition it will stop there where as l   
marks = int(input('enter your marks '))  #### in if only it wil check every conditions
if marks == 90:
  print('FAJ')
if marks >75:
  print('pdaku')
if marks >=50:
  print('avg') 
#else :
 # print('pdai likhai karo ias wais bano ')

enter your marks 90
FAJ
pdaku
avg

# 12 september my experiments

In [ ]:
### Below problems are taken from "Conditional Statement and Loops Practice " pre watch content

Write a program to print the following number pattern using a loop.

In [ ]:
# practice question 
for i in range(1,6):
  for k in range(1,i+1):
    print(k,end =' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,6):
  for k in range(1,i+1):
    print(k,end =' ')
  print("l")

1 l
1 2 l
1 2 3 l
1 2 3 4 l
1 2 3 4 5 l

In [ ]:
# through list
x = [1]
print(x)
for i in range(2,6):
  x.append(i)
  print(x)
  
#print(x)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

# Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

# For example, if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)

In [ ]:
####### using for loop but without using list
u = int(input())
g = 0
for i in range(u+1):
  g += i
print(g)

10
55

# Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five
If the number is greater than 150, then skip it and move to the next number
If the number is greater than 500, then stop the loop
Given:

numbers = [12, 75, 150, 180, 145, 525, 50]
Expected output:

75
150
145

In [ ]:
####### my try without countinue , break and pass
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
  if i%5==0 and i < 500 and i < 150:
    print(i,end=' ')
 # print()

75 145 50

In [ ]:
######## ########
######## given solution
numbers = [12, 75, 150, 180, 145, 525, 50]
# iterate each item of a list
for item in numbers:
    if item > 500:
        break
    elif item > 150:
        continue
    # check if number is divisible by 5
    elif item % 5 == 0:
        print(item)

75
150
145

# Exercise 6: Count the total number of digits in a number
Write a program to count the total number of digits in a number using While loop 

For example, the number is 75869, so the output should be 5.

In [ ]:
###### without len() function
n = input('enter the number   ')
count = 0
for i in n:
  count += 1
print(f'count is {count}')

enter the number   75869
count is 5

In [ ]:
#Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
#Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
# The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [ ]:
###### ####### ####### Very very important question try to understand each and every line
# Python program to display all the prime numbers within an interval

lower = 0
upper = 50

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)
# Python allows the else keyword to be used with the for and while loops too.           
# Is 1 composite number or prime?
#The number one is neither a prime nor a composite

Prime numbers between 0 and 50 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

# Using else conditional statement with for loop in python

In [ ]:
for i in range(1, 4):
 print(i)
else: # Executed because no break in for
 print("No Break")

''' output will be 
1
2
3
No Break    '''

1
2
3
No Break

In [ ]:
for i in range(1, 4):
 print(i)
 break
else: # Not executed as there is a break
 print("No Break")
# outout will be 1

1

In [ ]:
# Consider a list of strings 

got_houses = ['Stark', 'Arryn', 'Baratheon', 'Tully', 'Greyjoy', 'Lannister', 'Tyrell', 'Martell', 'Targaryen']

In [ ]:
# Using enumerate function to loop through the elements of a list
for house_no,house in enumerate(got_houses):
  print(f"The house no { house_no} of house {house} is ")

The house no 0 of house Stark is
The house no 1 of house Arryn is
The house no 2 of house Baratheon is
The house no 3 of house Tully is
The house no 4 of house Greyjoy is
The house no 5 of house Lannister is
The house no 6 of house Tyrell is
The house no 7 of house Martell is
The house no 8 of house Targaryen is

In [ ]:
####### amulya logic "middle triangle pyramid" with odd no of * rows
n = int(input('enter the no. of rows'))
for i in range(0,n):
  for j in range(0,n-i-1):
    print(" ",end = "")
  for k in range(0,i+1): #just ,multiplying by 2 in in range upper limit 
    print("* ",end = "")   #removing the space in end 
  print()

enter the no. of rows6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [ ]:
####### amulya logic "middle triangle pyramid" with odd no of * rows
n = 6
for i in range(0,n):
  for j in range(0,i):
    print(" ",end = "")
  for k in range(0,n-i):
      print("* ",end = "")   #removing the space in end 
  print()

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

# 13 Sept

In [ ]:
# print list in reverse order using for loop 
list1 = [1,2,3,4,'my_code']
for i in range(1,len(list1)):
  print(list1[-i])

my_code
4
3
2

In [ ]:
# For loop -10 to 1 code 
for num in range(-10, -0):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
# Python program to display all the prime numbers within an interval

lower = 0
upper = 50

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

In [ ]:
# Find the factorial

# 14 Sept

# While loop

In [ ]:
# Print 1st 10 integers and their squares 
x = 0
while x<=10:
  print(f'the square of {x} is {x**2}')
  i = i+1

In [ ]:
# Python program to Count Alphabets Digits and Special Characters in a String
 
strr = "P@#yn26at^&i5ve"
alpha = digits = special = 0

for i in range(len(strr)):
    if(strr[i].isalpha()):
        alpha = alpha + 1
    elif(strr[i].isdigit()):
        digits = digits + 1
    else:
        special = special + 1
        
print("Alphabets:  ", alpha)
print("Digits:  ", digits)
print("special Characters:  ", special)

In [ ]:
string = "p@#yn26at^&i5ve"
count_letter = 0
count_digits = 0
count_special_character = 0
for i in string:
    if i.isalpha():
        count_letter += 1
    if i.isdigit():
        count_digits += 1
    else:
        count_special_character += 1
print('number of letters - ', count_letter)
print('number of digits - ', count_digits)
print('number of special characters - ', count_special_character)

In [ ]:
# while loop
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
i = 0
while i< 5:
  print(i)
  i = i + 1

0
1
2
3
4

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i = i + 1

1
2
3

In [ ]:
a = 'AkshadaPreeti'
i = 0
while i < len(a):
  i = i + 1
  
print('total values is ', i)

total values is  13

In [ ]:
len(a)

7

In [ ]:
n = int(input('Enter the Number: '))
i = 1
sum = 0
while i <= n:
  sum = sum + i 
  i = i + 1
print(sum)

Enter the Number: 10
55

In [ ]:
20 -- >  1+2+3+4  + 10 = 55

In [ ]:
# Print first 10 integers and their squares using while Loop.

In [ ]:
for i in range(1, 11):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
i = 1
while i <= 10:
  print(i**2)
  i = i + 1

1
4
9
16
25
36
49
64
81
100

In [ ]:
n=1
while n<=10:
  print("the number is",n)
  sq= n**2
  n=n+1
  print("sq is", sq)

the number is 1
sq is 1
the number is 2
sq is 4
the number is 3
sq is 9
the number is 4
sq is 16
the number is 5
sq is 25
the number is 6
sq is 36
the number is 7
sq is 49
the number is 8
sq is 64
the number is 9
sq is 81
the number is 10
sq is 100

In [ ]:
# String 
"Uttam", 'madhuri'

In [ ]:
a = int(input('Enter'))
type(a)

Enteruttam

str

In [ ]:
sentence = 'My Name is Uttam and$WOrking as As AS Data$Scientist!'
type(sentence)

str

In [ ]:
sentence.split('D')

['My Name is Uttam and$WOrking as As AS ', 'ata$Scientist!']

In [ ]:
# join
b = ['Madhuri', 'Archana', 'Preeti']
c = ('Madhuri', 'Archana', 'Preeti', 'Akshada')
d = {'Madhuri', 'Archana', 'Preeti', 'Akshada'}
','.join(d)

'Preeti,Akshada,Archana,Madhuri'

In [ ]:
mystring = {'thor', 'loki', 'steve', 'tony', 'stark'}
'$'.join(mystring)

'steve$stark$tony$thor$loki'

In [ ]:
sentence

'My Name is Uttam and$WOrking as as Data$Scientist!'

In [ ]:
sentence.find('Prajwal')

-1

In [ ]:
sentence.replace('Uttam', 'Radha')

'My Name is Radha and$WOrking as As AS Data$Scientist!'

In [ ]:
sentence.replace('$', ' ').replace('Uttam', 'Radha')

'My Name is Radha and WOrking as As AS Data Scientist!'

In [ ]:
sentence = sentence.lower()
sentence

'my name is uttam and$working as as as data$scientist!'

In [ ]:
sentence.upper()

'MY NAME IS UTTAM AND$WORKING AS AS AS DATA$SCIENTIST!'

In [ ]:
sentence

'my name is uttam and$working as as as data$scientist!'

In [ ]:
sentence.isupper()

False

In [ ]:
sentence.islower()

True

In [ ]:
sentence.capitalize() # it is doing first letter capital rest of string smallletters

'My name is uttam and$working as as as data$scientist!'

In [ ]:
sentence.upper().capitalize() # it is doing first letter capital rest of string smallletters whether it is full string is in capital

'My name is uttam and$working as as as data$scientist!'

In [ ]:
sentence.count('as')# isnum()

3

In [ ]:
sentence.isalpha()

False

The isalpha() function checks whether a character is an alphabet or not. In C programming, isalpha() function checks whether a character is an alphabet (a to z and A-Z) or not. If a character passed to isalpha() is an alphabet, it returns a non-zero integer, if not it returns 0.

likewise .isdigit() check the value is digit or not

In [ ]:
string = "p@#yn26at^&i5ve"
string.isalpha()

False

In [ ]:
# Count all letters, digits, and special symbols from a given string
string_ = "P@#yn26at^&i5ve"
countl = 0
countn = 0
counto = 0
for i in string_:
    if i.isalpha():
      countl += 1
    elif i.isdigit():
      countn += 1
    else:
      counto += 1
print("The number of letters are --", countl)
print("The number of numbers are --", countn)
print("The number of characters are --", counto)

In [ ]:
# Find all occurrences of a substring in a given string by ignoring the case (# As, AS, as)
# Calculate the sum and average of the digits present in a string (str1 = "PYnative29@#8496")
# Write a program to count occurrences of all characters within a string ( Madhuri chawale )
# Reverse a given string ( can be anything )

In [ ]:
sentence

'my name is uttam and$working as as as data$scientist!'

In [ ]:
string = "p@#yn26at^&i5ve"
count_letter = 0
count_digits = 0
count_special_character = 0
for i in string:
    if i.isalpha():
        count_letter += 1
    if i.isdigit():
        count_digits += 1
    else:
        count_special_character += 1
print('number of letters - ', count_letter)
print('number of digits - ', count_digits)
print('number of special characters - ', count_special_character)

number of letters -  8
number of digits -  3
number of special characters -  12

# 14 sept Assignments

In [ ]:
# Print 1st 10 integers and their squares 
x = 0
while x<=10:
  print(f'the square of {x} is {x**2}')
  x = x+1

the square of 0 is 0
the square of 1 is 1
the square of 2 is 4
the square of 3 is 9
the square of 4 is 16
the square of 5 is 25
the square of 6 is 36
the square of 7 is 49
the square of 8 is 64
the square of 9 is 81
the square of 10 is 100

In [ ]:
string_1 = "P@#yn26at^&i5ve"
for i in string_1:
  
    print(i)

In [ ]:
########  Count all letters, digits, and special symbols from a given string
nstr = "P@#yn26at^&i5ve"
x = 0
y = 0
z = 0
for i in nstr:
    if i.isalpha():
      x += 1
    elif i.isdigit():
      y += 1
    else:
      z += 1
print(f'the total count of no.of letters is {x}')
print(f'the total count of no.of digits is {y}')
print(f'the total count of no.of special characters is {z}')

the total count of no.of letters is 8
the total count of no.of digits is 3
the total count of no.of special characters is 4

In [ ]:
# Find all occurrences of a substring in a given string by ignoring the case (# As, AS, as)
# Calculate the sum and average of the digits present in a string (str1 = "PYnative29@#8496")
# Write a program to count occurrences of all characters within a string ( Madhuri chawale )
# Reverse a given string ( can be anything )

In [ ]:
#1 Find all occurrences of a substring in a given string by ignoring the case (# As, AS, as)
dstring = "my name is jovani georgio but everbody calls me georgio"
dstring.split(' ')

['my',
 'name',
 'is',
 'jovani',
 'georgio',
 'but',
 'everbody',
 'calls',
 'me',
 'georgio']

In [ ]:
#2 Calculate the sum and average of the digits present in a string (str1 = "PYnative29@#8496")
str1 = "PYnative29@#8496"
sum = 0
count = 0
for i in str1:
  if i.isdigit() == True:
    sum = sum+int(i)
    count += 1 
print(f'sum of digits is {sum} and average is {sum/count}')

sum of digits is 38 and average is 6.333333333333333

In [ ]:
#3 Write a program to count occurrences of all characters within a string ( Madhuri chawale )
strr = 'durgesh rathod'
len(strr.split( ))

2

In [ ]:
#4 Reverse a given string ( can be anything )
dstring = 'my name is jovani georgio but everbody calls me georgio'
dstring.split()[::-1]

['georgio',
 'me',
 'calls',
 'everbody',
 'but',
 'georgio',
 'jovani',
 'is',
 'name',
 'my']

In [ ]:
#check code 
l2 = input('enter the string')
upper_char = 0
lower_char = 0
for i in l2:
  if i.islower():
    lower_char += 1
  elif i.isupper():
      upper_char +=1
  else:
        pass
print('number of upper are:',upper_char)
print('number of upper are:',lower_char)

In [ ]:
# Write a Python function to check whether a number falls in a given range.
# Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.
# Write a Python function that takes a list and returns a new list with unique elements of the first list.( 2 ways )
# Write a Python function that checks whether a passed string is palindrome or not.
# Note: A palindrome is a word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [ ]:
Small=int(input("Enter the Small number :"))
big=int(input("Enter The Big Number :"))
print("All prime numbers between",Small ,"To",big,"Are :")
N=0
for N in range(Small,big+1):
    if N>1:
        for i in range(2,N):
             if (N%i)==0:
                 break
        else:
            print(N)

In [ ]:
# Write a Python function that takes a list and returns a new list with unique elements of the first list.( 2 ways )
def ulist (nlist):
  x = []
  for a in nlist:
    if a not in x:
      x.append(a)
  return x

In [ ]:
ulist([1,1,2,2,2,3,3,4,4,4,4,4,4,5,5,5,6,6,7,7,8,8,9,9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Write a Python function that checks whether a passed string is palindrome or not.
def pallendrome (strr):
  if strr == strr[::-1]:
    return 'yes it is pallendrome'
  else:
    return 'no it is not pallendrome'

In [ ]:
pallendrome('lmlll')

'no it is not pallendrome'

In [ ]:
d = {'Rohan': [1,2,3],
     'Parshuram': [10,20,30]}

In [ ]:
d.keys()

dict_keys(['Rohan', 'Parshuram'])

In [ ]:
n_tuple = (1,2,3,4,5)
del n_tuple[0]

TypeError: ignored

16-September-2020

In [ ]:
# max(), mean()
import numpy as np
a = [1,2,3,4,5,6,7,8]
np.mean(a)

4.5

In [ ]:
min(a)

1

In [ ]:

l1 = [1,2,3,4]
l2 = l1.append([22,4, 0.6])
#l2 = l1.extend([22,4])

In [ ]:
l2 = l1

In [ ]:
l2

[1, 2, 3, 4, [22, 4, 0.6]]

In [ ]:
# immutable ( cannot be change )

In [ ]:
d = {'Rohan': [1,2,3],
     'Parshuram': [10,20,30], 
     'Samitha': ['a','b']}

In [ ]:
d['Rohan'] = [300,400]

In [ ]:
d.keys()

dict_keys(['Parshuram', 'Samitha'])

In [ ]:
del d['Rohan']

In [ ]:
d.pop('Rohan')

[1, 2, 3]

In [ ]:
d

{'Parshuram': [10, 20, 30], 'Samitha': ['a', 'b']}

In [ ]:
a = '     Akshda   '

In [ ]:
a.rstrip()

'     Akshda'

In [ ]:
a.lstrip()

'Akshda   '

In [ ]:
a.strip()

'Akshda'

In [ ]:
a = ' sammi '
a = a.strip()
a

'sammi'

In [ ]:
a=int(input("Enter the Smallest element :"))
for i in range(1,a):     
  i=i*i*i
  print(i)

Enter the Smallest element :5
1
8
27
64

In [ ]:
l = ['Akshada', 'Black', 'Aman', 'Durgesh','Chintu','Zebra','Uttam','Hareshyadav', 'kia', 'zid' ]

In [ ]:
l.sort(reverse = True)

In [ ]:
l

['Zebra',
 'Uttam',
 'Hareshyadav',
 'Durgesh',
 'Chintu',
 'Black',
 'Aman',
 'Akshada']

In [ ]:
l

['Akshada', 'Black', 'Aman', 'Durgesh', '14', '15', 'Chintu', 'Zebra', 'Uttam']

In [ ]:
def function(x):
  return len(x)
l = ['Akshada', 'Black', 'Aman', 'Durgesh','Chintu','Zebra','Uttam','Hareshyadav','Mad', 'kia','zid' ]

In [ ]:
l.sort()

In [ ]:
l

['Akshada',
 'Aman',
 'Black',
 'Chintu',
 'Durgesh',
 'Hareshyadav',
 'Mad',
 'Uttam',
 'Zebra',
 'kia',
 'zid']

In [ ]:
dic = [{'car': 'Kia', 'year': 2012},
      {'car': 'Maruti', 'year': 2005},
      {'car': 'marcedes', 'year': 2015},
      {'car': 'Audi', 'year': 2020},
      {'car': 'BMW', 'year': 2001}]

In [ ]:
def mycar(x):
  return x['year']

In [ ]:
dic.sort(key = mycar)

In [ ]:
dic

[{'car': 'Audi', 'year': 2020},
 {'car': 'BMW', 'year': 2001},
 {'car': 'Kia', 'year': 2012},
 {'car': 'Maruti', 'year': 2005},
 {'car': 'marcedes', 'year': 2015}]

In [ ]:
d = ['urvish','roy','kite','ball']
d.sort()

def function(x):
  return len(x)
d.sort(key = function)

In [ ]:
def mycar(x):
  return x['car']
  return x['year']

In [ ]:
numbers = [10,20,30,"python ",' java' ]

True

In [ ]:
strr = ''
for i in 'Uttam':
  strr = i + strr
print(strr)

mattU

In [ ]:
strr = ''
for i in 'Uttam':
  strr = strr + i
print(strr)

Uttam

In [ ]:
####### ###### set is not allowed list inside 
s={1,2,3,'uttam',[10,20,30]}
s

In [ ]:
####### ###### now it will allow bcoz it is converted into the string 
s={1,2,3,'uttam','[10,20,30]'}
s

{1, 2, 3, '[10,20,30]', 'uttam'}

In [ ]:
#https://pynative.com/python-exercises-with-solutions/

In [ ]:
#https://colab.research.google.com/drive/1X9tLD1mXF0mFdVPBwTYGGPihRtx4tGXV?usp=sharing#scrollTo=eQTzTM9zwelu

# 17 september

17-September-2022

In [ ]:
for i in 'string':
  if i == 'n':
    break
  print(i)
print('The END')

s
t
r
i
The END

In [ ]:
# How many Object will be formed in the memory after running this line of Python?

In [ ]:
x = [(1,2,3),{1,1,1,2},"This Question is Easy Please don't skip it",3.14]
id(x)

140470012972560

In [ ]:
y = 12
id(y)

11122944

In [ ]:
a = input("enter a string")
b = " "
c = len(a)

for i in range(1,2):
  b = a[::-1]
    
if b==a :
  print("palindrome",a)  
else :
  print("not palindrome")

enter a stringmadam
palindrome madam

In [ ]:
def rev(x):
  strr = ''
  for i in x:
    strr = i + strr

  if strr == x:
    return 'Palindrome'
  else:
    return 'Not Palindrome'

In [ ]:
rev('naman')

'Palindrome'

In [ ]:
# Set
my_set = {1,2,3,3, 'uttam', 'Uttam'}
my_set

{1, 2, 3, 'Uttam', 'uttam'}

In [ ]:
a = set('abcc')
l = ['uttam', 'parshuram']
a.update(l)

In [ ]:
a.add(5)

In [ ]:
a

{5, 'a', 'b', 'c', 'parshuram', 'uttam'}

In [ ]:
a.update([2,3,4])

In [ ]:
a.update([6,7], {10,20,30})

In [ ]:
a.discard(10)

In [ ]:
a.remove(30)

In [ ]:
a.discard(100)

In [ ]:
a

{2, 20, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'parshuram', 'uttam'}

In [ ]:
a.remove(100)

KeyError: ignored

In [ ]:
s = set('HelloWorld')
s

{'H', 'W', 'd', 'e', 'l', 'o', 'r'}

In [ ]:
s.pop()

'e'

In [ ]:
s.pop()

'r'

In [ ]:
s.clear()

In [ ]:
s

set()

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A & B

{4, 5}

In [ ]:
A.intersection(B)

{4, 5}

In [ ]:
A

{1, 2, 3, 4, 5}

In [ ]:
B

{4, 5, 6, 7, 8}

In [ ]:
A.difference(B)

{1, 2, 3}

In [ ]:
A - B

{1, 2, 3}

In [ ]:
B.difference(A)

{6, 7, 8}

In [ ]:
C = A.copy()

In [ ]:
C

{1, 2, 3, 4, 5}

In [ ]:
# Dictionary 
d = {'Name': 'Uttam', 'Age': 38}
d['Name']

'Uttam'

In [ ]:
d.get('Name')

'Uttam'

In [ ]:
d['Name'] = 'Akshada'

In [ ]:
d1 = {1:1,
      2:4,
      3:90,
      4:16,
      5:25}

In [ ]:
d1.pop(6)

KeyError: ignored

In [ ]:
d1.popitem()

(5, 25)

In [ ]:
d1.clear()

In [ ]:
d1

{}

Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples



Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [1]:
def last(n): return n[-1]

def sort_list_last(tuples):
  return sorted(tuples, key=last)

print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

Write a Python program to print a dictionary whose keys should be the alphabet from a-z and the value should be corresponding ASCII values



Sample Output : {'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}

In [ ]:
###### ######
list_of_alpha = list(map(chr, range(97, 123)))

In [ ]:
list_of_alpha = [chr(i) for i in range(ord('a'),ord('z')+1)]
list_of_alpha