<a href="https://colab.research.google.com/github/durgesh2010/Python-practice/blob/main/Final_Assesment_Coding_PRM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q1. You will be given a list. You have to print a list whose 1st element should be largest and 2nd should be the smallest then the 3rd should be 2nd largest and 4th should be 2nd smallest and so on.

Input Format:

The first line will have space-separated elements of the list.

Output Format:

Print the required list.

Sample Input 0:

1 2 3 4 5 6

Sample Output 0:

6 1 5 2 4 3

In [8]:
# Python prog to illustrate the following in a list
def find_len(list1):
  flist = [] 
  list1 = list1.strip()
  # print(list1)  
  list1 = list1.split(' ')
  for i in list1:
    flist.append(int(i))
  list1 = flist
  flist = []  
  length = len(list1)
  list1.sort()
  # print(list1)
  k = 0
  while length > 0:
      
    flist.append(list1[length-1])
    flist.append(list1[k])
    length = length-1
    k=k+1
    if list1[length-1] == list1[k] or len(flist) == len(list1):
      if len(list1)%2!=0:
        flist.append(list1[k])
      else:

        break
      break

  print(f'output is {flist}')  

# Driver Code

list1 = input('Enter the elemnts with single space like 1 2 3 4 5 6, given input is :')
Largest = find_len(list1)

Enter the elemnts with single space like 1 2 3 4 5 6, given input is :1 2 3 4 5 6
output is [6, 1, 5, 2, 4, 3]

In [ ]:
# Q.2

Python - 2

Find nth fibonacci number. If it starts with 0,1,1,2.....

Also, Print Incorrect Input if n is less than or equal to 0.

Input Format:

Call the function with n

Output Format:

Print the nth fibonacci number

Sample Input 0:

4

Sample Output 0:

2

Sample Input 1:

 0

Sample Output 1:

Incorrect input

In [11]:
def fibonacci(n):
    if n <= 0:
      print('incorrect input')
    else :

      fibArray = [0, 1]
      
      for i in range(1, n+1):
          fibArray.append(fibArray[i-1] + fibArray[i-2])
      return fibArray[n]

# Calling function 
n = int(input('Enter the n Value :'))
print(fibonacci(n))

Enter the n Value :4
2

In [ ]:
https://github.com/durgesh2010/Assignments-/blob/main/Final_Assesment_Coding_PRM.ipynb

https://github.com/durgesh2010/Assignments-/blob/main/Final_Assesment_Coding_PRM.ipynb

In [ ]:
for i in input2:
  if(i==1)
  
  else:

In [ ]:
n,1011,0111,1111
for i in input2:
  if

In [ ]:
string1 = '0111'
for i in string1:
  new = i
  

if str[0] == str[1]:
  pass:
else:
  count+=1

In [ ]:
string1 = '0111'
x = string1.split(' ')
for i in x:

In [ ]:
a = 15
b = 32

# Finding XOR of a and b using ^ operator
c = a ^ b

# Printing the XOR value
print(a, "XOR", b, "=", c)

15 XOR 32 = 47

In [ ]:
def largest (input2):
  one = 0
  zero = 0
  ans = 0
  for i in input2:
    if(i=='1'):
      one+=1

    else:
      zero = zero + 1
    if zero != one and one !=0 and zero !=0:
        
      ans = min(one,zero)*2
    elif one == 0 or zero == 0:

      ans = min(one,zero)
    elif zero == one:
      ans = one*2

    else :
      ans = min(one,zero)-1  
  return ans

In [ ]:
largest('1001111101')

6

In [ ]:
1101

In [ ]:
def largest (list1):

  count0=0
  count1=0
  for elem in list1:
    if elem==0:
      count0=count0+1
    elif elem==1:
      count1=count1+1

  a=min([count0,count1])
  b=2*a
  return b

Q2. You will be given a list. You have to print a list whose 1st element should be largest and 2nd should be the smallest then the 3rd should be 2nd largest and 4th should be 2nd smallest and so on.

Input Format:

The first line will have space-separated elements of the list.

Output Format:

Print the required list.

Sample Input 0:

1 2 3 4 5 6

Sample Output 0:

6 1 5 2 4 3

In [ ]:
# Python prog to illustrate the following in a list
def find_len(list1):
  flist = [] 
  list1 = list1.strip()
  # print(list1)  
  list1 = list1.split(' ')
  for i in list1:
    flist.append(int(i))
  list1 = flist
  flist = []  
  length = len(list1)
  list1.sort()
  # print(list1)
  k = 0
  while length > 0:
      
    flist.append(list1[length-1])
    flist.append(list1[k])
    length = length-1
    k=k+1
    if list1[length-1] == list1[k] or len(flist) == len(list1):
      if len(list1)%2!=0:
        flist.append(list1[k])
      else:

        break
      break

  print(f'output is {flist}')  

# Driver Code

list1 = input('enter the elemnts with space :')
Largest = find_len(list1)

enter the elemnts with space : 1 2 3 4 5 6
output is [6, 1, 5, 2, 4, 3]

In [ ]:
# Python prog to illustrate the following in a list
def find_len(list1):

  flist = []
  length = len(list1)
  list1.sort()
  k = 0
  while length > 0:
      
    flist.append(int(list1[length-1]))
    flist.append(int(list1[k]))
    length = length-1
    k=k+1
    if len(flist) == len(list1):
      break

  print(f'output is {flist}')  

# Driver Code

list1 = '1 2 3 4 5 6 10 9 11 12 13 7 8'#input('enter the elemnts with space :')
list1 = list1.split(' ')

Largest = find_len(list1)

output is [9, 1, 8, 10, 7, 11, 6, 12, 5, 13, 4, 2, 3, 3, 2, 4, 13, 5, 12, 6, 11, 7, 10, 8, 1, 9]

In [ ]:
list1 = '1 2 3 4 5 6 10 9 11 12 13 7 8'#input('enter the elemnts with space :')
list1 = list1.split(' ')
for i in list1:
  flist.append(int(i))
list1 = flist
flist = []  
length = len(list1)
list1.sort()
print(list1)
# for i in list1:
#   flist.append(int(i))
# print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
# Python prog to illustrate the following in a list
def find_len(list1):
  flist = [] 
  list1 = list1.strip()
  # print(list1)  
  list1 = list1.split(' ')
  for i in list1:
    flist.append(int(i))
  list1 = flist
  flist = []  
  length = len(list1)
  list1.sort()
  # print(list1)
  k = 0
  while length > 0:
      
    flist.append(list1[length-1])
    flist.append(list1[k])
    length = length-1
    k=k+1
    if list1[length-1] == list1[k] or len(flist) == len(list1):
      if len(list1)%2!=0:
        flist.append(list1[k])
      else:

        break
      break

  print(f'output is {flist}')  

# Driver Code

list1 = input('enter the elemnts with space :')
Largest = find_len(list1)

enter the elemnts with space :1 2 3 4 5 6 7 8
output is [8, 1, 7, 2, 6, 3, 5, 4]

In [ ]:
# Python prog to illustrate the following in a list
def find_len(list1):
    length = len(list1)
    list1.sort()
    print("Largest element is:", list1[length-1])
    print("Smallest element is:", list1[0])
    print("Second Largest element is:", list1[length-2])
    print("Second Smallest element is:", list1[1])
 
# Driver Code
list1=[12, 45, 2, 41, 31, 10, 8, 6, 4]
Largest = find_len(list1)

Largest element is: 45
Smallest element is: 2
Second Largest element is: 41
Second Smallest element is: 4

In [ ]:
# Q.2

Python - 2

Find nth fibonacci number. If it starts with 0,1,1,2.....

Also, Print Incorrect Input if n is less than or equal to 0.

Input Format:

Call the function with n

Output Format:

Print the nth fibonacci number

Sample Input 0:

4

Sample Output 0:

2

Sample Input 1:

 0

Sample Output 1:

Incorrect input

In [ ]:
def fibonacci(n):
    if n <= 0:
      print('incorrect input')
    else :

      fibArray = [0, 1]
      
      for i in range(1, n+1):
          fibArray.append(fibArray[i-1] + fibArray[i-2])
      return fibArray[n]

# Calling function 
print(fibonacci(4))

2

In [ ]:
# Function for nth Fibonacci number

def Fibonacci(n):
	nlist = []
	if n<= 0:
		print("Incorrect input")
	# First Fibonacci number is 0
	elif n == 1:
		return 0
	# Second Fibonacci number is 1
	elif n == 2:
		return 1
	else:
		return Fibonacci(n-1)+Fibonacci(n-2)

# Driver Program

print(Fibonacci(10))

# This code is contributed by Saket Modi

34

In [ ]:
# Function for nth Fibonacci number

def Fibonacci(n):
	nlist = []
	if n<= 0:
		print("Incorrect input")
	# First Fibonacci number is 0
	elif n == 1:
		return 0
	# Second Fibonacci number is 1
	elif n == 2:
		return 1
	else:
		return Fibonacci(n-1)+Fibonacci(n-2)

# Driver Program

print(Fibonacci(10))

# This code is contributed by Saket Modi

34

In [ ]:
fibonacci(10)

9