<a href="https://colab.research.google.com/github/durgesh2010/Python-practice/blob/main/Python_revision_by_satyam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python --version

Python 3.8.15

In [ ]:
a = 5 # int
b = 4.5 # float
c = 6 + 4j # complex

In [ ]:
y = "Abc" # global variable

In [ ]:
def test_func():
  y = "def" # local variable
  print('y : ' , y)

In [ ]:
test_func()

y :  def

In [ ]:
print('y : ' , y)

y :  Abc

In [ ]:
# Print any random runmber between 1 and 9

import random
print(random.randrange(1,10))

6

In [ ]:
# Lambda function (anonymous)
# can take any number of args , but only 1 expression

# Input : int
# fn : add 100 to it

# lambda args : expression

result = lambda a : a + 100

print(result(45))

145

In [ ]:
# lambda with more than 1 args

result = lambda a,b,c  : a + b + c

print(result(12 , 43, 76 ))

131

In [ ]:
def func1(n):
  return lambda a : a * n

In [ ]:
result = func1(2)
result1 = func1(3)

In [ ]:
result(8)

16

In [ ]:
result1(8)

24

In [ ]:
# OOPS

# Everything in python is object and it has properties and methods
# class : object constructor / blueprint

In [ ]:
class my_class: # object constructor
  x = 5 # property of my_class
  y = "a"

In [ ]:
object_1 = my_class()
print(object_1.x)
print(object_1.y)

5
a

In [ ]:
class Person:
  def __init__(self , name , age ) : # this function is automatically executed
    self.name = name
    self.age = age

  def print_name(self):
    print('My name is : ' , self.name)


# self is the current instance of the class

In [ ]:
# p1 , p2 : objects
p1 = Person("Aman" , 25) # initialisation of 'Person' class
p2 = Person("Ram" , 16)

In [ ]:
print(p1.name)
print(p1.age)

Aman
25

In [ ]:
print(p2.name)
print(p2.age)

Ram
16

In [ ]:
p1.print_name()

My name is :  Aman

In [ ]:
p2.print_name()

My name is :  Ram

In [ ]:
class Person2:
  pass

In [ ]:
# Inheritance

class Person:
  def __init__(self , name , age ) : # this function is automatically executed
    self.name = name
    self.age = age

  def print_name(self):
    print('My name is : ' , self.name)

In [ ]:
# inherit all the properties of 'Person' class

class Student(Person):
  def __init__(self , roll_number , id ) : # this function is automatically executed
    self.roll_number = roll_number
    self.id = id

In [ ]:
class Student(Person):
  def __init__(self , name , age  , roll_number , id)  : 
    super().__init__( name , age)
    self.roll_number = roll_number
    self.id = id

In [ ]:
x = Student("John" , 20 , 56 , 35)

In [ ]:
print(x.name)
print(x.age)
print(x.roll_number)
print(x.id)
x.print_name()

John
20
56
35
My name is :  John

In [ ]:
class Student(Person):
  def __init__(self , name , age  , roll_number , id)  : 
    Person.__init__( name , age)
    self.roll_number = roll_number
    self.id = id

In [ ]:
tuple_1 = ('a' , 'b' , 'c' ,'d')
string_1 = "wxyz"

In [ ]:
# it = iter(tuple_1)
it = iter(string_1)

In [ ]:
next(it)

'w'

In [ ]:
next(it)

'x'

In [ ]:
next(it)

'y'

In [ ]:
next(it)

'z'

In [ ]:
next(it)

StopIteration: ignored

In [ ]:
# Polymorphism

# same function name , can be used in different forms

In [ ]:
list_1 = [1,2,3,4,5]
len(list_1) # method overloading

5

In [ ]:
string_1 = 'abcdef'
len(string_1) # method overloading

6

In [ ]:
# user defined function
# case of polymorphism

def addition( x , y , z  = 1 ):
  return x + y + z

In [ ]:
addition(4,5)

10

In [ ]:
addition(4, 5 , 6)

15

In [ ]:
# Case of polymorphism

class India():
  def capital(self):
    print(' New Delhi is the capital of India')

class USA():
  def capital(self):
    print(' Washington DC is the capital of USA')

In [ ]:
object_india = India()
object_usa = USA()

In [ ]:
object_india.capital()

 New Delhi is the capital of India

In [ ]:
object_usa.capital()

 Washington DC is the capital of USA

In [ ]:
import json

In [ ]:
# json : text-format , storing and transporting of data

In [ ]:
 person = '{"name" : "John"  , "age" : 30}' # JSON stirng

In [ ]:
#parse 'person' --> to extract name,age
result = json.loads(person)

In [ ]:
result

{'name': 'John', 'age': 30}

In [ ]:
result['age']

30

In [ ]:
result['name']

'John'

In [ ]:
# person2

person2 = {
    "name" : "Mike" , 
    "city" : "NY"
}

In [ ]:
result_json = json.dumps(person2 , indent = 4)

In [ ]:
print(result_json)

{
    "name": "Mike",
    "city": "NY"
}